<app-modal-contrato
[modalOpenState]="modalContractState"
(modalClosedAndSigned)="closeContractModalAndOpenCreditCardModal()"
(closedModal)="setModalContractState()"
></app-modal-contrato>
<app-credit-card
[modalOpenState]="modalCreditCardState"

></app-credit-card>

<div class="main">
    <div *ngIf="products.length === 0" class="main__loading">
        <svg preserveAspectRatio="none" version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
        viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
        <circle stroke="none" cx="6" cy="50" r="6">
            <animateTransform 
            attributeName="transform" 
            dur="1s" 
            type="translate" 
            values="0 15 ; 0 -15; 0 15" 
            repeatCount="indefinite" 
            begin="0.1"/>
        </circle>
        <circle  stroke="none" cx="30" cy="50" r="6">
            <animateTransform 
            attributeName="transform" 
            dur="1s" 
            type="translate" 
            values="0 10 ; 0 -10; 0 10" 
            repeatCount="indefinite" 
            begin="0.2"/>
        </circle>
        <circle stroke="none" cx="54" cy="50" r="6">
            <animateTransform 
            attributeName="transform" 
            dur="1s" 
            type="translate" 
            values="0 5 ; 0 -5; 0 5" 
            repeatCount="indefinite" 
            begin="0.3"/>
        </circle>
        </svg>
    </div>
    <div  *ngIf="products.length > 0" class="main__fadeIn">
        <app-back-button
        [routerLink]="['/cadastro']"
        [page]="'página de cadastro'"
        ></app-back-button>


         <div class="header">
            <div class="header__title">
                <h1>Escolha os <span>Produtos</span><span class="shadow"></span></h1>
            </div>
            <div class="header__description">
                <p>Lorem Ipsum is simply dummy text advertising.</p>
            </div>
        </div>
        <div class="content">
            <div class="content__line" [ngClass]="{'selected': product.checked}" *ngFor="let product of products; let i = index"  (click)="markOptionChecked(i, $event)">
                <div class="content__line_description">
                    <p>{{ product.Descricao }}</p>
                </div>
                <div class="align">
                    <div class="content__price">
                        <p> {{ product.Valor | currency:'BRL' }}</p>
                    </div>
                    <label>
                        <input type="checkbox" [(ngModel)]="product.checked" (click)="markOptionChecked(i, $event)">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="payment_align" >
            <div class="payment" >
                <div class="payment__text" >
                    <div class="payment__title">
                        <h3>Meio de Pagamento</h3>
                    </div>
                    <div class="payment__option" *ngFor="let payment of payments; let i = index" (click)="paymentChecked(i, $event)">
                        <label>
                            <input type="checkbox" [(ngModel)]="payment.checked" (click)="paymentChecked(i, $event)">
                            <span></span>
                        </label>
                        <div class="payment_icon">
                            <i  [class]="payment.class" aria-hidden="true"></i>
                        </div>
                        <div class="payment__description" [class]="payment.descriptionClass">
                            <p>{{ payment.description }}</p>
                        </div>
                    </div>
                    <div class="payment__select">
                        <div class="payment_conditions custom-select"(click)="toggleShow()"  (focusout)="toggleShow()"  >
                            <p > {{ selectedOption }}</p>
                            <div class="payment_icon">
                                <i [ngClass]="{'turnIcon': isShown }" class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="show" *ngIf="isShown" id="divshow"  >
                            <div class="show_options">
                                <div class="options_content" *ngFor="let item of options; let i = index" (click)="chosenOption(i)" >
                                    <p > {{ item.option }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentButtons_align">
              <div class="content_buttons">
                  <div class="coupon">
                    <div class="input_coupon" [ngClass]="{'error' : isInvalidCoupon}">
                        <div class="coupon_icon">
                            <i class="fa fa-ticket" aria-hidden="true"></i>
                        </div>
                        <div class="coupon_title">
                            <p>CUPOM:</p>
                            <input [attr.disabled]="isValidCoupon? true : null" (keyup)="validateCoupon($event)" type="text" placeholder="99OFF">
                            <i *ngIf="isValidCoupon"  class="fa fa-check isValid" aria-hidden="true"></i>
                            <div class="input_errorIcon">
                                <svg *ngIf="isInvalidCoupon" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" width="20" height="20" class="errorMark" viewBox="0 0 20 30"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg>
                            </div>
                        </div>
                        <div class="coupon_submit">
                            <button (click)="submit()">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="button_buy" (click)="setModalContractState()" >
                    <button>
                        <div class="align">
                            <div class="button_text">
                                <p>Finalizar Compra</p>
                            </div>
                            <div class="button_icon">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </button>

                </div>
            </div>
        </div>
    </div>

</div>
