$mobile-medium-device: 600px;
$mobile-large-device: 900px;

@mixin flex-align {
    display: flex;
    align-items: center;
}

footer {
    @include flex-align;
    justify-content: center;
    background-color: rgb(42, 147, 233);
    color: #FFFFFF;
    height: 25vh;
    min-width: 335px;
    width: 100%;
    position: relative;
    z-index: 1;
    @media (max-width: $mobile-large-device) {
        height: 250px;
    }
}

.footer_content {
    @include flex-align;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    font-family: 'Kiro-Regular';
    font-size: 18px;
    letter-spacing: 1px;
    @media (max-width: $mobile-large-device) {
        justify-content: center;
        flex-direction: column-reverse;
        max-width: 250px;
    }

    @media (min-width: $mobile-medium-device) and (max-width: $mobile-large-device) {
        font-size: 24px;
    }
}

.footer_copyright {
    @include flex-align;
    justify-content: center;
    width: 100%;
    height: 100%;
    @media (max-width: $mobile-large-device) {
        margin-top: -60px;
        text-align: center;
    }

    & p {
        @media (max-width: $mobile-large-device) {
            font-size: 16px;
        }
        @media (min-width: $mobile-medium-device) and (max-width: $mobile-large-device) {
            font-size: 18px;
        }
    }
}

.footer_socialMedia {
    @include flex-align;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
    @media (max-width: $mobile-large-device) {
        justify-content: center;
        flex-direction: column;
    }
}

.socialMedia_description {
    @include flex-align;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    @media (max-width: $mobile-large-device) {
        align-items: flex-end;
        justify-content: center;
    }
}

.socialMedia_icons {
    @include flex-align;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    @media (max-width: $mobile-large-device) {
        align-items: flex-start;
        justify-content: space-evenly;
        width: 200px;
        margin-left: unset;
    }

    & i {
        font-size: 28px;
        padding-right: 25px;
        cursor: pointer;
        @media (max-width: $mobile-large-device) {
            display: flex;
            justify-content: center;
            padding: unset;
            text-align: center;
        }
        @media (min-width: $mobile-medium-device) and (max-width: $mobile-large-device) {
            font-size: 28px;
        }

        &:hover {
            text-shadow:  0 0 25px #fff;
        }
    }
}

