@import 'swiper/css';

$primary-color: #057bda;
$secondary-color: #fff;


$mobile-small-device: 336px;
$mobile-medium-device: 600px;
$mobile-large-device: 900px;


@mixin flex-align {
    display: flex;
    align-items: center;
}


// ANIMATIONS -----------------------------------------------------------------------------------------------------------------

@mixin bubbles($firstTime, $animation, $secondTime, $scale, $side, $distance, $top ) {
    -webkit-animation: animateBubble $firstTime linear infinite, $animation $secondTime ease-in-out infinite alternate;
	-moz-animation: animateBubble $firstTime  linear infinite, $animation $secondTime ease-in-out infinite alternate;
	animation: animateBubble $firstTime  linear infinite, $animation $secondTime ease-in-out infinite alternate;

    -webkit-transform: scale($scale);
	-moz-transform: scale($scale);
	transform: scale($scale);
    top: $top;

    @if ($side == left) {
        left: $distance;
    } @else {
        right: $distance;
    }
}

@mixin keyframes($animate) {
    @-webkit-keyframes #{$animate} {
        @content;
    }
    @-moz-keyframes #{$animate} {
        @content;
    }
    @keyframes #{$animate} {
        @content;
    }
}

// -----------------------------------------------------------------------------------------------------------------------------


.content {
    overflow: hidden;
    @media (max-width: $mobile-small-device) {
        min-width: 335px;
    }

    &__banner {
        @include flex-align;
        justify-content: center;
        background-color: #f8f8f8;
        @media (max-width: $mobile-medium-device) {
            margin-bottom: 235px;
        }
        
        &__align {
            max-width: 1200px;
            margin: 40px 60px 250px 60px;
        }

        &__header {
            @include flex-align;
            flex-direction: row;
            justify-content: center;
            height: 20vh;
        
            &__logo {
                @media (max-width: $mobile-medium-device) {
                    margin-top: -100px;
                }

                & img {
                    @media (max-width: $mobile-medium-device) {
                        width: 110px;
                    }
                }
            }

            &__cart {
                @include flex-align;
                justify-content: center;
                position: fixed;
                background-color: $secondary-color;
                height: 70px;
                width: 70px;
                border-radius: 50%;
                right: 20px;
                top: 40px;
                z-index: 30;
                box-shadow: 0px 0px 7px -2px #00000017;
                @media (max-width: $mobile-large-device) {
                    height: 60px;
                    width: 60px;
                    top: 45px;
                    right: 10px;
                }

                & img {
                    width: unset!important;
                    margin-top: unset!important;
                }

                &:hover {
                    box-shadow:  0 0 25px rgb(223, 223, 223);
                    cursor: pointer;
                }
            }    
        }

        &__body {
            @include flex-align;
            flex-direction: row;
            justify-content: center;

            &__left {
                position: absolute;
                top: 0vh;
                left: 8vw;
                width: 25vw;
                @media (max-width: $mobile-large-device) {
                    display: none;
                }
            } 
            
            .blueCircle {
                position: absolute;
                left: 10vw;
                top: 200px;
                animation: blueCircleMove 8s infinite;

                
                @include keyframes(blueCircleMove) {
                    0%   {
                        top: 100px;
                    }
                    50%  {
                        top: 150px;
                    }
                    100% {
                        top: 100px;
                    }
                }

                & img {
                    position: absolute;
                    width: 285px;
                    @media (max-width: $mobile-medium-device) {
                        top: 138px;
                        left: -210px;
                        width: 300px;
                    }
                }
            }

            &__center {
                font-family: 'Kiro-Light';
                text-align: center;
                letter-spacing: 1px;
                position: relative;
                z-index: 3;
                max-width: 900px;
                @media (max-width: $mobile-medium-device) {
                    @include flex-align;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: -80px;
                    max-width: 330px;
                }
                @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
                    max-width: 650px;
                }

                &__title {
                    position: relative;
                    font-size: 60px;
                    line-height: 55px;
                    color: rgb(69, 73, 82);
                    z-index: 1;
                    @media (max-width: $mobile-medium-device) {
                        display: none;
                    }
                }
                .first_shadow {
                    position: absolute;
                    background-color: #ebebeb;
                    height: 11px;
                    width: 300px;
                    border-radius: 10px;
                    left: 130px;
                    top: 45px;
                    z-index: -1;
                    @media (max-width: $mobile-medium-device) {
                        left: 44px;
                        top: 32px;
                        width: 210px;
                        height: 8px;
                    }
                    @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
                        left: unset;
                        margin-left: -313px;
                    }
                }

                .second_shadow {
                    position: absolute;
                    background-color: #ebebeb;
                    height: 11px;
                    width: 235px;
                    border-radius: 10px;
                    right: 248px;
                    top: 101px;
                    z-index: -1;
                    @media (max-width: $mobile-medium-device) {
                        right: 38px;
                        top: 112px;
                        width: 161px;
                        height: 8px;
                    }
                    @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
                        width: 233px;
                        right: unset;
                        top: unset;
                        bottom: -3px;
                        margin-left: -233px;
                    }
                }

                &__description {
                    font-size: 28px;
                    color: rgba(176, 178, 182, 0.863);
                    margin-top: -15px;
                    @media (max-width: $mobile-medium-device) {
                        display: none;
                    }
                }

                &__title__mobile {
                    display: none;
                    @media (max-width: $mobile-medium-device) {
                        display: unset;
                        font-family: 'Kiro-Light';
                        position: relative;
                        color: rgb(69, 73, 82);
                        z-index: 1;
                        font-size: 40px;
                        line-height: 40px;
                        width: 300px;
                    }
                }

                &__description__mobile {
                    display: none;
                    @media (max-width: $mobile-medium-device) {
                        display: unset;
                        font-family: 'Kiro-Regular';
                        font-size: 20px;
                        margin-top: 0px;
                        color: rgba(176, 178, 182);
                        letter-spacing: 1px;
                    }
                }
            }

            .redCircle {
                position: absolute;
                right: 10vw;
                animation: redCircleMove 10s infinite;
                @media (max-width: $mobile-medium-device) {
                    display: none;
                }

                & img {
                    width: 285px;
                }
                
                @include keyframes(redCircleMove)  {
                    0%   {
                        bottom: 90px;
                    }
                    50%  {
                        bottom: 140px;
                    }
                    100% {
                        bottom: 90px;
                    }
                }
            }

            &__right {
                position: absolute;
                top: 0vh;
                right: 8vw;
                width: 25vw;
                @media (max-width: $mobile-large-device) {
                    width: 90%;
                    right: unset;
                }
            }
        }

        &__scrollIcon {
            @include flex-align;
            justify-content: center;

            & img {
                position: relative;
                animation: mymove 5s infinite;
                margin-top: 50px;
                @media (max-width: $mobile-medium-device) {
                    width: 20px;
                    margin-top: -5px;
                }
            }

            @include keyframes(mymove)  {
                0%   {
                    top: 40px;
                }
                50%  {
                    top: 0px;
                }
                100% {
                    top: 40px;
                }
            }
        }
    }
}

.blue {
    font-family: 'Kiro-Regular';
    color: rgb(33, 150, 243);
    @media (max-width: $mobile-medium-device) {
        font-family: 'Kiro-Extra-Bold';
    }
}

.redBall, .purpleBall {
    position: absolute;

}

@include keyframes(animateBubble) {
    0% {
        margin-top: 950px;
    }
    100% {
        margin-top: -100%;
    }
}


@include keyframes(sideWaysLeft) { 
    0% { 
        margin-left: 0px;
    }
    100% { 
        margin-left: 50px;
    }
}

@include keyframes (sideWaysRight) { 
    0% { 
        margin-right:0px;
    }
    100% { 
        margin-right:50px;
    }
}

@function randomRange($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
    @return $randomNum;
}

@function random5($min, $max) {
    $rand: random();
    $randomNum5: $min + floor($rand * (($max - $min)/5 + 1));
    @return $randomNum5;
}

// @for $i from 1 through 10 {
//     .x#{$i} {
//         @include bubbles(randomRange(1*$i, 30)+s, sideWaysLeft, ($i*1)+s, ($i/10), left, randomRange(0, 50)*1%, random5(10, 80)*1%);
//     }
// }

.x1 {
	@include bubbles(30s, sideWaysLeft, 3s, 0.9, left, 5%, 40%);
}

.x2 {
    @include bubbles(14s, sideWaysLeft, 1.5s, 0.6, left, 25%, 10%);
}

.x3 {
    @include bubbles(20s, sideWaysLeft, 6s, 0.7, left, 10%, 90%);
}

.x4 {
    @include bubbles(18s, sideWaysLeft, 4s, 0.6, left, 30%, 20%);
}

.x5 {
    @include bubbles(10s, sideWaysLeft, 2s, 0.5, left, 2%, 0);
}

.x6 {
    @include bubbles(7.5s, sideWaysLeft, 1.8s, 0.2, left, 35%, 5%);
}

.x7 {
    @include bubbles(25s, sideWaysLeft, 2s, 0.8, left, 50%, 5%);
}

.x8 {
    @include bubbles(27s, sideWaysLeft, 4s, 0.6, left, 70%, 50%);
}

.x9 {
    @include bubbles(8s, sideWaysLeft, 1.8s, 0.4, left, 20%, 0);
}

.x10 {
    @include bubbles(9s, sideWaysLeft, 2s, 0.5, left, 80%, 15%);
}

.x11 {
    @include bubbles(7.5s, sideWaysRight, 1.8s, 0.2, right, 40%, 55%);
}

.x12 {
    @include bubbles(19s, sideWaysRight, 4s, 0.6, right, 90%, 60%);
}

.x13 {
    @include bubbles(14.5s, sideWaysRight, 2s, 0.4, right, 75%, 75%);
}

.x14 {
    @include bubbles(27s, sideWaysRight, 4s, 0.7, right, 20%, 40%);
}

.x15 {
    @include bubbles(29s, sideWaysRight, 3s, 0.8, right, 15%, 40%);
}

.x16 {
    @include bubbles(14s, sideWaysRight, 6s, 0.5, right, 30%, 20%);
}

.x17 {
    @include bubbles(9s, sideWaysRight, 2s, 0.4, right, 65%, 10%);
}

.x18 {
    @include bubbles(12s, sideWaysRight, 3s, 0.6, right, 50%, 60%);
}

.x19 {
    @include bubbles(35s, sideWaysRight, 3s, 0.9, right, 45%, 5%);
}

.x20 {
    @include bubbles(8s, sideWaysRight, 1.5s, 0.4, right, 10%, 80%);
}


.content__wave {
    @media (max-width: $mobile-medium-device) {
        @include flex-align;
        justify-content: center;
        width: 100%;
    }

    &__align {
        @include flex-align;
        justify-content: center;
        @media (max-width: $mobile-medium-device) {
            position: relative;
            height: 300px;
            margin-top: -500px;
        }
    }

    &__svg {
        display: flex;
        margin-top: -670px;
        position: relative;
        left: -550px;
        @media (max-width: $mobile-medium-device) {
            display: none;
        }
        @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
            left: -1050px;
            width: 3000px;
            margin-top: -392px;
        }
        
        & svg {
            position: relative;
            z-index: 2;
            fill: #fefefe;
            fill-opacity: 1;
            margin-top: -100px;
            width: 8000px;
            height: 1000px;
            transform: scaleX(-1);
            @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
                width: 3000px;
                height: 500px;
            }
        }
    }
}

.content__wave__svg__mobile {
    display: none;
    @media (max-width: $mobile-medium-device) {
        position: absolute;
        display: flex;
        transform: scaleX(-1);
        margin-top: -570px;
        width: 3500px;
        left: -3200px;
        z-index: 2;

        & svg {
            z-index: 2;
            fill: #fefefe;
            fill-opacity: 1;
            width: 3500px;
            height: 600px;
        }
    }
}

.content__body {
    @include flex-align;
    justify-content: center;
    position: relative;
    background-color: #fefefe;
    @media (max-width: $mobile-large-device) {
        display: none;
    }
    @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
        z-index: 2;
    }

    &__align {
        max-width: 1200px;
        width: 100%;

    }

    &__title {
        @include flex-align;
        justify-content: center;
        position: relative;
        font-family: 'Kiro-Light';
        font-size: 30px;
        line-height: 55px;
        color: rgb(69, 73, 82);
        z-index: 2;
        @media (max-width: $mobile-medium-device) {
            display: none;
        }
    }

    &__text {
        @include flex-align;
        justify-content: center;
        margin-top: 100px;
        @media (max-width: $mobile-large-device) {
            display: none;
        }
    }

    &__lines {
        position: relative;
        z-index: 3;

        & img{
            width: 930px;
        }
    }

    &__icon {
        @include flex-align;
        justify-content: center;
        position: absolute;
        background-color: $secondary-color;
        height: 55px!important;
        width: 55px!important;
        border-radius: 50%;
        box-shadow:  0 0 25px rgb(223, 223, 223);
        @media (max-width: $mobile-large-device) {
            box-shadow: unset;
        }
    }
    
    & h3 {
        font-family: 'WorkSans-Regular';
        line-height: 18px;
        font-size: 15px;
        color: #4c4c4c;
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }
    
    & h2 {
        margin: 0;
        padding: 0;
    }
    
    & p {
        font-family: 'WorkSans-Regular';
        font-weight: 800;
        color: #4c4c4c39;
        margin-top: 2px;
        font-size: 13px;
        line-height: 18px;
    }

    .number {
        font-family: 'Kiro-Light';
        font-weight: lighter;
        font-size: 40px;
        color: #4c4c4c;
        margin-right: 10px;
    }
    
    .step {
        font-family: 'Kiro-Bold-Italic';
        font-weight: lighter;
        font-size: 13px;
        color: #2195f348;
        letter-spacing: 2px;
    }

    .box1 {
        left: -78px;
        top: 5px;
    }
    
    .box2 {
        left: 230px;
        top: 5px;
    }
    
    .box3 {
        right: 232px;
        top: 5px;
    }

    .row {
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 900px;
    
        & div {
            margin: 0 40px 0 40px;
            height: 150px;
            width: 226px;
        }
    }

    .first_line {
        margin-bottom: 830px;
        margin-left: 90px;
    }
    
    .second_line {
        margin-bottom: 330px;
        margin-left: 90px;
    }
    
    
    .third_line {
        margin-bottom: -150px;
        margin-left: 90px;
    }
}

.shadow {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    left: 70px;
    top: -45px;
    @media (max-width: $mobile-medium-device) {
        bottom: 45px;
        top: -85px;
    }
}

.third_shadow {
    position: absolute;
    background-color: #ebebeb;
    height: 11px;
    width: 165px;
    border-radius: 10px;
    top: 87px;
    z-index: -1;
    margin-left: -160px;
    @media (max-width: $mobile-large-device) {
        height: 7px;
        width: 107px;
        right: 70px;
    }
    @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
        height: 7px;
        width: 110px;
        top: 50px;
        left: 272px;
    }
}


.content__body__mobile {
    display: none;

    @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
        margin-top: 250px;
        height: 100%;
        z-index: 5;
    }
}


.main-carousel {
    display: none;
    @media (max-width: $mobile-large-device) {
        display: block;
        position: relative;
        z-index: 3;
    }
}

::ng-deep .swiper-pagination {
    @media (max-width: $mobile-small-device) {
        width: 220px!important;
    }
}

.footer__wave {
    @include flex-align;
    position: relative;
    width: 100%;
    margin-bottom: -500px;
    justify-content: center;
    height: 750px;
    margin-top: -232px;
    @media (max-width: $mobile-medium-device) {
        height: 767px;
    }

    &__background {
        position: relative;
        background-color: #057BDA;
        width: 8000px;
        height: 300px;
        margin-top: 160px;
        @media (max-width: $mobile-medium-device) {
            position: relative;
            width: 3500px;
            height: 200px;
            margin-top: unset;
            max-width: 3400px;
        }
        @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
            width: 3000px;
            height: 400px;
        }
    }

    &__svg {
        display: flex;
        position: relative;
        margin-top: -680px;
        left: -550px;
        @media (max-width: $mobile-medium-device) {
            display: none;
        }
        @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
            left: -1050px;
            width: 3000px;
        }

        &  svg {
            position: relative;
            z-index: 2;
            fill: $primary-color;
            fill-opacity: 1;
            margin-top: -153px;
            width: 8000px;
            height: 1000px;
            transform: scaleX(-1);
            @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
                width: 3000px;
                height: 500px;
                margin-top: 200px;
            }
        }
    }
}


.footer__text {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    top: -80px;
    margin-left: 100px;
    margin-right: 100px;
    @media (max-width: $mobile-medium-device) {
        top: -50px;
        margin-left: unset;
        margin-right: unset;
    }

    &__align {
        display: flex;
        align-content: center;
        justify-content: space-around;
        width: 100%;
        max-width: 1000px;
        z-index: 20;
        @media (max-width: $mobile-medium-device) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px 0 0 0;
        }
        @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0;
        }
    }

    &__content {
        font-family: 'Kiro-Light';
        font-weight: lighter;
        color: #fefefe;
        z-index: 1;
        @media (max-width: $mobile-medium-device) {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 20px 0 20px;
            width: 100%;
            min-width: unset;
        }
        @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 20px 0 20px;
            max-width: 400px;
        }

        &__title {
            font-size: 25px;
            line-height: 45px;
            letter-spacing: 4px;
            @media (max-width: $mobile-medium-device) {
                display: none;
            }

            & h1 {
                @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
                    font-size: 50px;
                }
            }
        }

        &__title__mobile {
            display: none;
            @media (max-width: $mobile-medium-device) {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                line-height: 25px;
                letter-spacing: 2px;
            }
        }  

        &__description {
            font-family: 'WorkSans-Medium';
            margin-top: -15px;
            color: #ffffffe3;
            
            & p {
                @media (max-width: $mobile-medium-device) {
                    font-family: 'WorkSans-Regular';
                    margin-left: 5px;
                    margin-top: 7px;
                    font-size: 14px;
                }
                @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
                    margin-top: 0px;
                    color: #ffffffe3;
                }
            }          
        }
    }

    .fourth_shadow {
        position: absolute;
        background-color: rgb(42, 147, 233);
        height: 11px;
        width: 120px;
        border-radius: 10px;
        top: 115px;
        z-index: -1;
        margin-left: -118px;
        @media (max-width: $mobile-medium-device) {
            height: 8px;
            width: 68px;
            top: 48px;
            margin-left: -68px;
        }
        @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
            margin-left: -119px;
        }
    }

    .bold {
        font-family: 'Kiro-Extra-Bold';
        letter-spacing: 2px;
    }

    &__button {
        margin-bottom: 10px;
        margin-top: 60px;
        width: 225px;
        @media (max-width: $mobile-medium-device) {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 265px;
        }
        @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
            margin: 0;
        }

        & button {
            font-family: "Poppins-SemiBold";
            color: $primary-color;
            background-color: #fefefe;
            width: 269px;
            height: 64px;
            border-radius: 100px;
            border: none;
            font-weight: bold;
            font-size: 16px;
            margin-top: 20px;
            position: relative;
            z-index: 2;
            @media (max-width: $mobile-medium-device) {
                padding: 17px 66px;
                margin-top: 0;
            }
            @media (min-width: ($mobile-medium-device + 1)) and (max-width: $mobile-large-device) {
                padding: 17px 66px;
                margin-top: 0;
            }
        }
        
        & button:hover {
            box-shadow:  0 0 15px rgb(223, 223, 223);
            cursor: pointer;
        }
    }
}

.animated {
    animation: fill 4s linear forwards;
}

@include keyframes(fill) {
    0%   {
        
    }
    
    100%  {
    height: 2000px;
    }
}

.animatedWaves {
    animation: curling ease 3s infinite;

}

@include keyframes(curling) {
    0% {
        left: 0px;
        bottom: 55px;
    }

    100% {
        left: 3000px;
        bottom: 55px;
    }
}

.pagina_login {
    display: none;
}

.footer__wave__mobile {
    display: none;
    @media (max-width: $mobile-medium-device) {
        display: flex;
        position: relative;
        width: 3500px;
        left: -1500px;
        margin-top: -585px;
        z-index: 2;

        & svg {
            z-index: 2;
            fill: #057BDA;
            fill-opacity: 1;
            width: 3500px;
            height: 600px;
            transform: scaleX(-1);
        }
    }
}

.footerFadeOut {
    animation: fadeOut ease-out 1s forwards;
}

@include keyframes(fadeOut) {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.bottom__scroll {
    @include flex-align;
    justify-content: center;
    position: fixed;
    background-color: $secondary-color;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    right: 20px;
    bottom: 80px;
    z-index: 20;
    box-shadow: 0px 0px 7px -2px #00000017;
    @media (max-width: $mobile-large-device) {
        height: 60px;
        width: 60px;
        bottom: 45px;
        right: 10px;
    }

    &:hover {
        box-shadow:  0 0 25px rgb(223, 223, 223);
        cursor: pointer;
    }

    & i {
        color: rgb(42, 147, 233);
        font-size: 25px;
        font-weight: bold;
    }
}


@media screen and (max-width: 600px){ 

    @include keyframes(curling) {
        0% {
            left: 0px;
        }
    
        100% {
            left: 950px;
        }
    }

    @include keyframes(fill) {
        0%   {
            
        }
        
        100%  {
        height: 1650px;
        }
    }

    @include keyframes(animateBubble) {
        0% {
            margin-top: 650px;
        }
        100% {
            margin-top: -100%;
        }
    }
    
    @include keyframes(sideWaysLeft) {
        0% { 
            margin-left:0px;
        }
        100% { 
            margin-left:25px;
        }
    }

    @include keyframes(sideWaysRight) {
        0% { 
            margin-right:0px;
        }
        100% { 
            margin-right:25px;
        }
    }
}

@media screen and (max-width: 900px) { 
    ::ng-deep .swiper-pagination {

        bottom: -50px!important;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            opacity: 1;
            margin-right: 10px;
            background: transparent;
            border: 2px solid #2a93e9;
            border-radius: 50%;
            list-style: none;
            margin-top: 20px;
        }

        .swiper-pagination-bullet-active {
            background: #5aa3dfd5; 
        }
    }

    .swiper { 
        width: 100%;
        height: 100%;
        overflow: visible!important;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $secondary-color;
      
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .swiper-slide {
        width: 60%;
      }
      
      .swiper-slide:nth-child(2n) {
        width: 40%;
      }
      
      .swiper-slide:nth-child(3n) {
        width: 20%;
      }

    ::ng-deep .carousel {
        position: relative;
        z-index: 2;
        margin-top: -250px;
        margin-bottom: 200px;
        outline: none;
    
    
        .carousel-cell {
            text-align: center;
            width: 100%;
            height: 350px;
            margin-right: 40px;
            border-radius: 30px;
            box-shadow: 2px 1px 11px -3px #acaaaa;
        }
    

        .body_icon {
            position: unset;
        }

        .carousel_IconAlign {
            display: flex;
            justify-content: center;
            align-items: center;
            // margin-top: 60px;
        }

        .carousel_IconAlign img {
            width: 55px;
        }

        .carousel_Align {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
    }


    .content__body__mobile {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        top: -274px;
        font-family: 'Kiro-Light';
        font-size: 20px;
        line-height: 20px;
        color: #454952;
        z-index: 3;
    }
    

    .carousel-cell {

        .number {
            font-family: 'Kiro-Light';
            font-weight: lighter;
            font-size: 35px;
            color: #4c4c4c;
            margin-right: 10px;
        }

        .step {
            font-family: 'Kiro-Bold-Italic';
            font-weight: lighter;
            font-size: 13px;
            color: #2195f348;
            letter-spacing: 2px;
        }

        & h3 {
            font-family: 'WorkSans-Regular';
            line-height: 18px;
            font-size: 15px;
            color: #4c4c4c;
            margin: 0;
            margin-top: 10px;
            padding: 0;
        }

        & h2 {
            margin: 0;
            padding: 0;
        }

        & p {
            font-family: 'WorkSans-Regular';
            font-weight: 800;
            color: #4c4c4c39;
            font-size: 13px;
            line-height: 18px;
        }
    }

    .rocket_width {
        width: 35px!important;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px){ 

    @include keyframes(animateBubble) {
        0% {
            margin-top: 850px;
        }
        100% {
            margin-top: -100%;
        }
    }
    

    
    @include keyframes(redCircleMove)  {
        0%   {
            bottom: 100px;
        }
        50%  {
            bottom: 150px;
        }
        100% {
            bottom: 100px;
        }
    }

    
    @include keyframes(fill) {
        0%   {
            
        }
        
        100%  {
        height: 1800px;
        }
    }

    @include keyframes(curling) {
        0% {
            left: 0px;
            bottom: 237px;
        }
    
        100% {
            left: 1000px;
            bottom: 237px;
        }
    }
    

}

@media screen and (min-width: 2000px) {

    @include keyframes(fill) {
        0%   {
            
        }
        
        100%  {
        height: 3000px;
        }
    }

    @include keyframes(curling) {
        0% {
            left: 0px;
            bottom: 85px;
        }
    
        100% {
            left: 2500px;
            bottom: 85px;
        }
    }
}

@media screen and (min-width: 3000px) {

    @include keyframes(fill) {
        0%   {
            
        }
        
        100%  {
        height: 3000px;
        }
    }

    @include keyframes(curling) {
        0% {
            left: 0px;
            bottom: 85px;
        }
    
        100% {
            left: 2000px;
            bottom: 85px;
        }
    }
}
