<div class="main">
    <div class="main_fadeIn">
        <div class="main_content">
            <div class="main_header">
                <div class="header_title">
                    <h1>Gerenciador de <span>Produtos</span><span class="shadow"></span></h1>
                </div>
                <div class="header_description">
                    <p>Escolha um produto para editar, excluir, ou cadastre um novo produto.</p>
                </div>
            </div>
            <div class="content_text">
                <div class="line" [ngClass]="{'selected': product.checked}" *ngFor="let product of products; let i = index"  (click)="markOptionChecked(i, $event)">
                    <div class="line_description">
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="price">

                        <div class="value">
                            <p> {{ product.price | currency:'BRL' }}</p>
                        </div>
                        <div class="check">
                            <label class="price_check">
                                <input type="checkbox" [(ngModel)]="product.checked" (click)="markOptionChecked(i, $event)">
                                <span class="checkmark" ></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_body">
                <div class="body_content">

                    <div class="content_fields">

                        <div class="content_fieldsAlign">
                            <div class="input">
                                <app-input
                                [fontAwesomeIcon]="'fa fa-tag'"
                                [placeholder]="'Nome do produto'"
                                (eventValue)="setData($event, 'produto')"
                                [value]="data.produto"
                                [eventNameField]="'Produto'"
                                ></app-input>
                            </div>
                            <div *ngIf="isEdit" class="edit_icon">
                                <i (click)="productEdit()" class="fa fa-pencil" aria-hidden="true"></i>
                                <div class="tooltip">
                                        <div class="header_infoBalloon tooltiptext">
                                            <p>Editar</p>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div class="content_fieldsAlign">
                            <div class="input">
                                <app-input
                                [fontAwesomeIcon]="'fa fa-usd'"
                                [placeholder]="'Preço do produto'"
                                (eventValue)="setData($event, 'preco')"
                                [value]="data.preco"
                                [eventNameField]="'Preco'"
                                ></app-input>
                            </div>
                            <div *ngIf="isEdit" class="edit_icon">
                                <i (click)="productEdit()" class="fa fa-pencil" aria-hidden="true"></i>
                                <div class="tooltip">
                                        <div class="header_infoBalloon tooltiptext">
                                            <p>Editar</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                      

                        <div *ngIf="isEdit" class="deleteIcon" (click)="deleteData(data)" (click)="productDelete()">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_buttons">
                <div class="button button_register">
                    <button (click)="productRegister()">
                        <div class="align">
                            <div class="button_text">
                                <p>Adicionar Novo Produto</p>
                            </div>
                            <div class="button_icon">
                                <i class="fa fa-list fa-rotate-180" aria-hidden="true"></i>
                            </div>
                        </div>
                    </button>
                </div>

                <div class="button button_save">
                    <button (click)="gravar(data)" >
                        <div class="align">
                            <div class="button_text">
                                <p>Salvar Alterações</p>
                            </div>
                            <div class="button_icon">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>