// ===============================> MAIN <====================================

.main {
    display: flex;
    background-color: #057bda;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    min-width: 335px;
}

.main_fadeIn {
    max-width: 1000px;
    margin: 50px 100px 100px 100px;
    width: 100%;
    animation: fadeIn ease-in 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// ================================> MAIN_CONTENT <===================================

.main_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

// ================================> MAIN_HEADER <====================================

.main_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header_title h1 {
    font-family: 'Kiro-Regular';
    font-size: 50px;
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: 2px;
}

.header_title span:first-of-type {
    font-family: 'Kiro-Extra-Bold';
}

.shadow {
    position: absolute;
    background-color: #419fea;
    height: 11px;
    width: 204px;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: -201px ;
    z-index: -1;
}

.header_description p {
    font-family: 'WorkSans-Regular';
    font-weight: lighter;
    font-size: 16px;
    color: #ffffff;
    margin-top: -20px;
}

// =====================================> MAIN_BODY <======================================

.main_body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46a3ee;
    height: 100%;
    border-radius: 25px;
    width: 100%;
}

.body_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 100%;
}

.content_fields {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.content_fieldsAlign {
    display: flex;
    width: 100%;
}

.content_fields .input {
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
}


.deleteIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px 10px;
    position: relative;
    background: #d8e9f7;
    border: 1px solid #057bda;
    right: 0px;
    cursor: pointer;
}


.deleteIcon:hover {
    background: #fff;
    box-shadow: 0 0 10px #d8e9f7;
}


.deleteIcon i {
    color: rgb(13, 125, 218);
    font-size: 18px;
}


.content_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
}

.button button {
    font-family: "Poppins-SemiBold";
    color: #057bda;
    background-color: #fefefe;
    min-width: 283px;
    height: 64px;
    border-radius: 100px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    z-index: 2;
}

.button button:hover {
    box-shadow:  0 0 15px rgb(223, 223, 223);
    cursor: pointer;
}

.button_register {
    justify-content: flex-start;
}

.button_save {
    justify-content: flex-end;
}

.button_edit {
    justify-content: center;
}

.button i {
    position: relative;
    color: #057bda;
    right: 15px;
    font-size: 19px;
    z-index: 3;
}

.button_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}





// =====================================> LINE <===================================

.content_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Kiro-Regular';
    color: #ffffff;
    font-size: 20px;

}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 100px;
    height: 50px;
    background-color: rgb(91, 174, 240);
    margin-bottom: 20px;
    cursor: pointer;
}


.selected {
    background-color: #fff;
    color: #2c91e3;

  .value p {
    color: #2c91e3;
  }
}


.line_description {
    margin-left: 25px;
}

.edit_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    z-index: 999999999999999999999999999999999999999999999999999;
}

.edit_icon i {
    color: #d8e9f7;
}

.edit_icon i:hover {
    color: #fff;
    text-shadow:  0 0 10px #fff;
}

.price {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.value p{
    margin-right: 15px;
    color: #c9e6fe;
}

.price_check {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 40px;
  }

  .price_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }


  .checkmark {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #5baef0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-top: -10px;
  }

  .price_check:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .price_check input:checked ~ .checkmark {
    background-color: #2c91e3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }


  .price_check input:checked ~ .checkmark:after {
    display: block;
  }


  .price_check .checkmark:after {
    margin-top: 6px;
    margin-left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.check .checkmark {
    width: 15px;
    height: 15px;
  }

  .check .price_check input:checked ~ .checkmark {
    height: 20px;
    width: 20px;
    border: none;
    box-shadow:  0 0 5px #ffffff;
}

.tooltip {
    position: relative;
    z-index: 10;
}

.header_infoBalloon {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 14px;
    background-color: #1b82d5;
    border-radius: 50px;
    top: -21px;
    z-index: 3;
    cursor: pointer;
}

.edit_icon:hover .header_infoBalloon {
    visibility: visible;
  }

.header_infoBalloon:after { /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: fixed;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #1b82d5;
    margin-left: -104px;
    margin-top: 0px;
    z-index: 99999999999999999999999999;
}

.header_infoBalloon p {
    font-family: 'Kiro-Regular';
    font-size: 16px;
    text-align: center;
    color: #f8f8f8;

}

.header_infoBalloon span {
    font-family: 'Kiro-Regular';
    font-weight: bold;
    letter-spacing: 0.5px;

}


.align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.button_text {
    width: 100%;
}

// =====================================> END OF LINE <===================================


@media screen and (max-width: 900px) { 
    .main_fadeIn {
        margin: 50px 25px 50px 25px;
    }

    .header_title {
        text-align: center;
    }

    .header_title h1 {
        font-size: 35px;
    }

    .shadow {
        height: 8px;
        margin-top: 31px;
        width: 148px;
        margin-left: -146px;
    }

    .header_description p {
        font-size: 13px;
        text-align: center;
    }

    .body_content {
        margin: 20px 10px 30px 10px
    }

    .content_fields {
        flex-direction: column;
    }

    .line_description p {
        font-size: 16px;
    }

    .value p {
        font-size: 16px;
    }

    .deleteIcon {
        margin-top: 15px;
    }

    .content_buttons {
        flex-direction: column;
    }

    .button button {
        min-width: 100%;

    }

    .button_register, .button_save {
        justify-content: center;
    }

    .button i {
        position: relative;
        right: 30px;
    }

    .tooltip {
        display: none;
    }


}

@media screen and (max-width: 350px) {
    .button i {
        display: none;
    }
}


@media screen and (min-width: 601px) and (max-width: 900px) {

    .main_fadeIn {
        max-width: 600px;
    }

    .header_title h1 {
        font-size: 45px;
    }

    .button button {
        width: 100%;
    }

    .shadow {
        margin-top: 41px;
        width: 184px;
        margin-left: -182px;
    }


}