<div class="main">
    <div class="main_fadeIn">

        <app-back-button
        [routerLink]="['/home']"
        [page]="'página inicial'"
        ></app-back-button> 
        
        <div class="main_body">
            <div class="body_content">
                <div class="content_image">
                    <img src="/assets/success.png">
                </div>
                <div class="content_text">
                    <div class="content_title">
                        <h1>Obrigado por<br><span>Finalizar sua Compra</span><span class="shadow"></span></h1>
                    </div>
                    <div class="content_description">
                        <p>Lorem Ipsum is simply dummy text and printing advertising.</p>
                    </div>
                </div>
                <div class="content_button">
                    <button>Preencher formulário de avaliação</button>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>