<div class="main">
    <div class="main__fadeIn">

        <app-back-button
        [routerLink]="['/home']"
        [page]="'página inicial'"
        ></app-back-button>

        <div class="body">
            <div class="body__image">
                <img src="assets/images/success.png">
            </div>
            <div class="body__text">
                <h1>Obrigado por<br><span>Finalizar sua Compra</span><span></span></h1>
                <p>Lorem Ipsum is simply dummy text and printing advertising.</p>
            </div>
            <div class="body__button">
                <button>Preencher formulário de avaliação</button>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
