
.header_smallerCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #73bdf7;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: 95px;
    top: 85px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}

.header_smallerCircle i {
    color: #ffffff;
    font-size: 20px;
}

.header_biggerCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #37a0f3;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    left: 80px;
    top: 70px;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}

.tooltip {
    position: relative;
    z-index: 10;
}

.header_infoBalloon {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 201px;
    height: 40px;
    left: 85px;
    background-color: #1b82d5;
    border-radius: 50px;
    top: 25px;
    z-index: 3;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}

.tooltip:hover .header_infoBalloon {
    visibility: visible;
  }

.header_infoBalloon:after { /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: fixed;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #1b82d5;
    margin-left: -205px;
    margin-top: 0px;
    z-index: 99999999999999999999999999;
}

.header_infoBalloon p {
    font-family: 'Kiro-Regular';
    font-size: 16px;
    text-align: center;
    color: #f8f8f8;

}

.header_infoBalloon span {
    font-family: 'Kiro-Regular';
    font-weight: bold;
    letter-spacing: 0.5px;

}


@media screen and (max-width: 970px) {

    .header_biggerCircle {
        height: 60px;
        width: 60px;
        left: 30px;
        top: 30px;
    }
    
    .header_smallerCircle {
        height: 40px;
        width: 40px;
        left: 40px;
        top: 40px;
    }
    
    .header_infoBalloon {
        left: 58px;
        top: 10px;
    }
    
}

@media screen and (min-width: 971px) and (max-width: 1357px) {
    .main_header {
        margin: 0px 20px 0px 20px;
    }
    
    .header_biggerCircle {
        height: 75px;
        width: 75px;
        left: 20px;
        top: 70px;
    }
    
    .header_smallerCircle {
        height: 45px;
        width: 45px;
        left: unset;
    }
    
    .header_infoBalloon {
        left: 70px;
        top: 19px;
    }

}