$primary-color: #057bda;
$secondary-color: #5baef0; 
$tertiary-color: #fff;


$mobile-large-device: 900px;
$mobile-medium-device: 601px;

@mixin flex-align {
    display: flex;
    align-items: center;
}


.main {
    @include flex-align;
    background-color: $primary-color;
    width: 100%;
    justify-content: center;
    min-height: 75vh;
        @media (max-width: 336px) {
            min-width: 335px;
        }

    &__fadeIn {
        max-width: 1000px;
        margin: 0px 100px 0px 100px;
        width: 100%;
        animation: fadeIn ease-in 1s forwards;
            @media (max-width: $mobile-large-device) {
                @include flex-align;
                justify-content: center;
                max-width: 600px;
            }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}


.content__align {
    @media (max-width: $mobile-large-device) {
        flex-direction: column;
        margin-top: 100px;
        max-width: 600px;
        width: 100%;
    }
}

.content {
    @media (max-width: $mobile-large-device) {
        @include flex-align;
        flex-direction: column;
        width: 100%;
    }

    &__header {
        @include flex-align;
        flex-direction: row;
        justify-content: space-between;
            @media (max-width: $mobile-large-device) {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
        &_align {
            width: 100%;
            margin-bottom: 20px;
        }
    
        &_title {
            & h1 {
                font-family: 'Kiro-Regular';
                font-size: 50px;
                color: $tertiary-color;
                font-weight: lighter;
                letter-spacing: 2px;
                    @media (max-width: $mobile-large-device) {
                        font-size: 30px;
                    }
                    @media (min-width: 550px) and (max-width: $mobile-large-device) {
                        font-size: 40px;
                    }
                & span {
                    position: absolute;
                    background-color: #419fea;
                    height: 11px;
                    width: 260px;
                    border-radius: 10px;
                    margin-top: 45px;
                    margin-left: -258px ;
                    z-index: -1;
                    @media (max-width: $mobile-large-device) {
                        height: 8px;
                        width: 165px;
                        margin-top: 26px;
                        margin-left: -165px;
                    }
                    @media (min-width: 550px) and (max-width: $mobile-large-device) {
                        width: 212px;
                        margin-top: 36px;
                        margin-left: -211px;
                    }
                }
            }
        }
    
        &_description {
            p {
                font-family: 'WorkSans-Regular';
                font-weight: lighter;
                font-size: 16px;
                color: $tertiary-color;
                margin-top: -20px;
                    @media (max-width: $mobile-large-device) {
                        font-size: 13px;
                        margin-top: -10px;
                    }
            }
        }
    
        &_buttons {
            @include flex-align;
            justify-content: flex-end;
            flex-direction: row;
            position: relative;
            margin-top: 20px;
                @media (max-width: $mobile-large-device) {
                    margin-top: 10px;
                    margin-bottom: 30px;
                }
    
            & button {
                font-family: "WorkSans-Regular";
                color: $tertiary-color ;
                background-color: $primary-color;
                height: 60px;
                border-radius: 100px;
                border: 2.5px solid $tertiary-color ;
                font-size: 14px;
                position: relative;
                width: 130px;
                margin: 0px 20px 0px 20px;
                cursor: pointer;
                    @media (max-width: $mobile-large-device) {
                        margin: 0px 10px 0px 10px;
                    }
    
                &:focus {
                    outline: none;
                }
            }
    
            & span {
                color: $tertiary-color;
                font-family: 'WorkSans-Regular';
                @media (max-width: $mobile-large-device) {
                    font-size: 15px;
                }
            }
        }
    }
}


.chosenButton {
    background-color: $secondary-color!important;
}


.content__body {
    @include flex-align;
    justify-content: space-between;
    background-color: $secondary-color;
    height: 300px;
    border-radius: 25px;
    width: 100%;
    height: 350px;
        @media (max-width: $mobile-large-device) {
            flex-direction: column;
            justify-content: unset;
            align-items: center;
            height: 450px;
            max-width: 100%;
            margin: 0px;
        }

    &_align {
        @include flex-align;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 50px;
        margin-top: -20px;
            @media (max-width: $mobile-large-device) {
                @include flex-align;
                justify-content: center;
                box-sizing: border-box;
                width: 90%;
                margin-top: 20px;
                margin-bottom: 40px;
                overflow-y: scroll;
                overflow-x: hidden;
                scroll-margin: 20px;
                padding: unset;

                & form {
                    height: 100%;
                    width: 100%;
                }

                &::-webkit-scrollbar {
                    width: 5px; 
                }

                &::-webkit-scrollbar-track {
                    background: #5eabeb;
                    border-radius: 100px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #92D2F5;
                    border-radius: 100px;
                }  
            }
    }

    &_firstGroup {
        @include flex-align;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
            @media (max-width: $mobile-large-device) {
                flex-direction: column;
                padding-left: 20px!important;
                padding-right: 20px!important;
                width: 100%;
                box-sizing: border-box;
            }
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;
            
        }
    }


    &_secondGroup {
        @include flex-align;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;
            @media (max-width: $mobile-large-device) {
                flex-direction: column;
                padding-left: 20px!important;
                padding-right: 20px!important;
                width: 100%;
            }

        & div {
            display: flex;
            flex-direction: column;
            padding-left: 25px;
            padding-right: 25px;

            &:first-of-type {
                width: 300px;
                @media (max-width: $mobile-large-device) {
                    width: 100%!important;
                    padding: unset;
                }
            }

            &:last-of-type {
                width: 100%;
            }
        }
    }

    &_thirdGroup {
        @include flex-align;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;
            @media (max-width: $mobile-large-device) {
                flex-direction: column;
                padding-left: 20px!important;
                padding-right: 20px!important;
                width: 100%;
            }
    
        & div:first-of-type {
            width: 280px;
            padding-left: 25px;
            padding-right: 25px;
                @media (max-width: $mobile-large-device) {
                    width: 100%!important;
                    padding: unset;
                }
        }

        & div:last-of-type {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
                @media (max-width: $mobile-large-device) {
                    flex-direction: column;
                    width: 100%;
                    padding: unset!important;

                    & div {
                        width: 100%!important;
                    }
                }

            & div:first-of-type{
                width: 250px;
            }
            
            & div:last-of-type {
                display: unset;
                width: 100%;
                padding-left: 25px;
                padding-right: 25px;
            }
        }

    }
}

.content__toggle {
    @include flex-align;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
        @media (max-width: $mobile-large-device) {
            flex-direction: column;
            margin-top: 10px;
        }
        @media (min-width: 750px) and (max-width: 1093px) {
            flex-direction: row;
            margin-top: 10px;
        }  

    &__align {
        @include flex-align;
        justify-content: center;
        flex-direction: row;
            @media (max-width: $mobile-large-device) {
                margin-bottom: 0px;
                width: 100%;
                max-width: 400px;
            }
            @media (min-width: 750px) and (max-width: 1093px) {
                justify-content: center;
                flex-direction: row;
                max-width: 600px;
            }            
    }

    & label {
        display: inline-block;
        height: 25px;
        position: relative;
        width: 60px;
            @media (max-width: $mobile-large-device) {
                width: 55%;
            }

        & input {
            display:none;

            &:checked + .slider {
                background-color: $secondary-color;
            }

            &:checked + .slider:before {
                transform: translateX(30px);
            }
        }

        & div {
            background-color: #ccc;
            bottom: 0;
            cursor: pointer;
            left: 0;
            height: 26px;
            position: absolute;
            right: 0;
            top: 0;
            transition: .4s;
            border-radius: 34px;
            width: 60px;

            &:before {
                background-color: $tertiary-color;
                bottom: 4px;
                content: "";
                height: 18px;
                left: 6px;
                position: absolute;
                transition: .4s;
                width: 18px;
                border-radius: 50%;
            }
        }
    }

    & p {
        font-family: "WorkSans-Regular";
        color: $tertiary-color;
        font-size: 16px;
        margin-left: 10px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        & button{
            font-family: "Poppins-SemiBold";
            color: $primary-color;
            background-color: $tertiary-color;
            padding: 21px 51px;
            border-radius: 100px;
            border: none;
            font-weight: bold;
            font-size: 16px;
            position: absolute;
            right: 0;
            z-index: 2;
                @media (max-width: $mobile-large-device) {
                    @include flex-align;
                    justify-content: center;
                    position: unset;
                    height: 60px!important;
                    width: 300px;
                }
            

            &:hover {
                box-shadow:  0 0 15px rgb(223, 223, 223);
                cursor: pointer;
            }
        }
    }
}
